* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e293b;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #3b82f6;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}

p {
    text-align: center;
}

.course-list a {
    display: block;
    background: #334155;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.course-list a:hover {
    background: #475569;
}

.summary-box {
    background: #334155;
    padding: 15px;
    border-radius: 8px;
}   